<h1>index</h1>
<form action="/category">
  <select name="id" id="id" onchange="this.form.submit()">
    <option value="all" {{#if selected}}selected{{/if}}>所有類別</option>
    {{#each categories}}
    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
</form>
<div>總金額：{{totalAmount}}</div>
<ul>
  {{#each records}}
  <li>
    <i class="{{this.categoryIcon}}"></i>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="/records/{{this._id}}/edit">修改</a>
    <form action="/records/{{this._id}}?_method=delete" method="post">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="records/new">新增支出</a>
